<!DOCTYPE html>
 <html>
 <head>
<title>Website</title>
<link rel="shortcut icon" href="">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/build/css/bundle.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div id="container">
	<%- htmlRender -%>
</div>
<!-- <script src="/bundle.js" type="text/babel"/> -->
<script src="/build/vendor.bundle.js"></script>
<script src="/build/bundle.js"></script>

</body>
</html>